<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_hospital_root"
              name="Hospital"
              web_icon="om_hospital,static/description/icon.png"
              sequence="0"/>
    <menuitem id="menu_patient_master"
              name="Patient Details"
              parent="menu_hospital_root"
              sequence="0"/>
    <menuitem id="menu_appointment_master"
              name="Appointments"
              parent="menu_hospital_root"
              sequence="20"/>
    <menuitem id="menu_configuration_master"
              name="Configurations"
              parent="menu_hospital_root"
              sequence="100"/>
    <menuitem id="menu_report_master"
              name="Reports"
              parent="menu_hospital_root"
              sequence="200"/>

    <menuitem id="menu_cancel_appointment"
              name="Cancellation"
              parent="menu_appointment_master"
              action="action_cancel_appointment"
              sequence="20"/>

    <!--Bu menu action_hospital_patient dosyasına önleneceği için önce dosyanın oluşturulması gerektiğinden dolayı bu işlemin arkasına alınmıştır.
    <menuitem id="menu_patient"
              name="Patient"
              action="action_hospital_patient"
              parent="menu_patient_master"
              sequence="0"/>
     -->


</odoo>